@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primary: #FA8112;
    --color-background: #FAF3E1;
    --color-text: #222222;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
    font-family: "Inter", sans-serif;
}

button,
input,
select,
textarea {
    font: inherit;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

.styles, .properties {
    display: flex;
    gap: 20px;
    justify-content: start;
    margin: 20px auto;
}

.styles {
    margin-top: 162px;
}

.btn, .btn-small {
    width: 100%;
    height: 240px;
    padding: 20px;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
    font-size: clamp(1.25rem, 1.028rem + 1.11vw, 2rem);
    font-weight: 800;
    user-select: none;
    transition: box-shadow 0.2s ease-in-out;
}

.btn-small {
    height: 80px;
    font-size: clamp(1rem, 0.852rem + 0.74vw, 1.5rem);
}

.btn:hover, .btn-small:hover, .recipe:hover {
    box-shadow: 0 4px 12px #FFCEA1;
}

.active--style, .active--prop {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    width: 100%;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 250px;
    padding: 16px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.recipe > span {
    display: block;
    text-align: center;
    font-weight: 600;
    word-break: break-word;
    margin-top: 11px;
}

fieldset {
    display: inline-block;
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}

fieldset > legend {
    font-size: 14px;
    font-weight: 200;
    text-align: left;
}

fieldset > span {
    font-size: 16px;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 32px;
}

@media (max-width: 1400px) {
    .styles {
        display: grid;
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .properties {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .styles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .btn {
        height: 100px;
    }

    .btn-small {
        height: 40px;
        padding: 10px;
    }

    .recipes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .styles {
        display: flex;
        flex-direction: column;
    }

    .btn {
        height: 100px;
    }

    .btn-small {
        height: 40px;
        padding: 10px;
    }

    .recipes {
        grid-template-columns: 1fr;
    }
}